@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins' sans-serif;
}

html{
    font-size: 60%;

}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
 .home-content {
    padding: 0 4rem;
 }
 .home-content h2 {
    text-align: right;
    line-height: 1.2;
 }
 .home-content h3 {
    font-size: 5rem;
 }
 .home-content p {
    font-size: 2.5rem;
    margin: 3rem 0 4rem;
 }
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: blue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px transparent;
}
nav a:hover, nav a.active{
    color: blue;
    border-bottom: 3px solid blue;
}
@media(max-width:1000px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid blue;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background: #161616;
        border-top: 0.1rem solid rgb(0,0,0,00.1rem);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
        border: 0,5rem solid;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 10% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: darkcyan;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    font-weight: 700;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid blue;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 600;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: red;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: blue;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid blue;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: blue;
    color: black;
    box-shadow: 0 0 25px blue;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span::before{
    content: "college student,";
    color: green;
    animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%=10px);
    height: 100%;
    border-left: 3px solid black;
    right: -7;
    animation: cursor 0.6s infinite;
}
 @keyframes cursor{
    to{
        border-left: 3px solid blue;
         
    }
 }
 @keyframes words{
    0%, 20%{
        content: "gamer";
    }
    21%, 40%{
        content: "music listener";
    }
    41%, 60%{
        content: "movie lover";
    }
    61%, 80%{
        content: "canva editor";
    }
    81%, 100%{
        content: "adobe editor";
    }

 }
 @media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
 }
 @media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;

    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        margin-top: 4rem;
    }
 }
 .about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: darkcyan;
 }
 .about-img img{
    width: 25vw;
    border: 2px solid darkcyan;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
 }
 .about-img img:hover{
    box-shadow: 0 0 25px var(--main-color);
    box-shadow: 0 0 40px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);            
 }
 .heading {
    font-size: 6rem;
    text-align: center;
 }
 .about-content {
    padding: 0 4rem;
    background-color: grey;
    border-radius: 10rem;
 }
 .about-content h2 {
    text-align: right;
    line-height: 1.2;
 }
 .about-content h3 {
    font-size: 5rem;
 }
 .about-content p {
    font-size: 2.5rem;
    margin: 3rem 0 4rem;
 }

.info h2{
    margin-bottom: 5rem;
}
.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.info-container .info-box{
    flex: 1 1 30rem;
    background-color: brown;
    padding: 5rem 3rem 5rem;
    border-radius: 3rem;
    text-align: center;
    border: 0.4rem solid var(--bg-color);
    transition: 0,4s ease;
}
.info-container .info-box:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}
.info-box{
    font-size: 8rem;
    color: var(--main-color);
}
.info-box h3{
    font-size: 3rem;
}
.info-box i {
    font-size: 8rem;
    color: var(--main-color);
}
.info-box{
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
 .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: darkcyan;}
/* Portfolio Section */
.portfolio {
    padding: 50px;
    background-color: darkcyan;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-box {
    flex: 1 1 30rem;
    background-color: brown;
    max-width: 450px;
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}

.projects-container .project-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.project-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.porfolio h2 {
    font-size: 10rem;
}

.project-box h3 {
    font-size: 4rem;
    margin: 10px 0;
    color: var(--main-color);
}

.project-box p {
    font-size: 2rem;
    margin-bottom: 15px;
}

.project-box .btn {
    display: flexbox;
    margin-top: 20px;
    padding: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    text-decoration: none;
    border-radius: 100rem;
}

.contact h2{
    margin-bottom: 5rem;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact-container .contact-box{
    flex: 1 1 30rem;
    background-color: brown;
    padding: 5rem 3rem 5rem;
    border-radius: 3rem;
    text-align: center;
    border: 0.4rem solid var(--bg-color);
    transition: 0,4s ease;
}
.contact-container .contact-box:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}
.contact-box{
    font-size: 8rem;
    color: var(--main-color);
}
.contact-box h3{
    font-size: 3rem;
}
.contact-box i {
    font-size: 8rem;
    color: var(--main-color);
}
.contact-box{
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
 .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: darkcyan;}